<div class="container">
    <table class="table table-hover mt-5">
      
        <tbody>
            <tr class="table-active">
                <th scope="row">Customer ID</th>
               <td>{{customer.customerid}}</td>
              </tr>
              <tr>
                <th scope="row">CustomerName</th>
               <td>{{customer.accountholdername}}</td>
              </tr>
              <tr>
                <th scope="row">Overdraft enabled</th>
               <td>{{customer.overdraftflag}}</td>
              </tr>
              <tr>
                <th scope="row">ClearBalance</th>
               <td>{{customer.clearbalance}}</td>
              </tr>
        </tbody>
    </table>
    
</div>